%h2
	What's your story?
%p<
	I work at 
	%a{:href => 'http://www.gocardless.com/about'}GoCardless.
	We're a YC-backed tech startup in the payments industry, based in London.
	%br
	%br
	I love startups, and believe that 
	%a{:href => 'http://online.wsj.com/article/SB10001424053111903480904576512250915629460.html'}software is eating the world.
	%br
	%br
	Previously, I've worked at
	%a{:href => 'http://www.accenture.com'}Accenture
	and the 
	%a{:href => 'http://www.bankofengland.co.uk'}Bank of England. 
	I also studied 
	%a{:href => 'http://www.ox.ac.uk/admissions/undergraduate_courses/courses/philosophy_politics_and_economics/philosophy_politics.html'}PPE 
	(Philosophy, Politics and Economics) at Oxford. 
%h2
	Where can I find you?
%p<
	I blog 
	%a{:href => 'http://www.nabeelqu.com/blog'}here.
	%br
	%br
	Elsewhere:
	%a{:href => 'http://www.twitter.com/nabeelqu/'}Twitter,
	%a{:href => 'https://github.com/nqureshi'}Github,
	%a{:href => 'http://www.linkedin.com/pub/nabeel-qureshi/24/994/578'}LinkedIn,
	%a{:href => 'http://www.quora.com/Nabeel-Qureshi'}Quora.
%h2
	What else?
%p<
	Cool quotations
	%a{:href => 'http://www.nabeelqu.com/quotes'}here.
  
	
	 