%img{:class => "home", :src => "Nabeel-Qureshi.jpg", :width => "147", :height => "210", :alt => "Nabeel Qureshi"}
%p<
	%a{:href => '/blog'}Essays.
	%br
	%br
	I think a lot about: technology, startups, civil liberties, political action, philosophy, Wittgenstein, ethics, vegetarianism, filmmaking, writing, art, maximizing impact, rationality, probability, statistics, programming, etc.
	%br
	%br
	Work: 
	%a{:href => 'http://www.gocardless.com/about'}GoCardless.
	YC-backed tech startup in the payments industry, based in London.
	%br
	%br
	I like talking to interesting people. Give me a shout on
	%a{:href => 'http://www.twitter.com/nabeelqu/'}Twitter.
	%br
	%br
	%a{:href => '/quotes'}Some cool quotes.
	%br
	%br
	Elsewhere:
	%a{:href => 'https://github.com/nqureshi'}Github,
	%a{:href => 'http://www.linkedin.com/pub/nabeel-qureshi/24/994/578'}LinkedIn,
	%a{:href => 'http://www.quora.com/Nabeel-Qureshi'}Quora,
	%a{:href => 'http://news.ycombinator.com/user?id=nqureshi'}Hacker News.