%h2
	What am I doing now?
%p<
	Currently making payments awesome at 
	%a{:href => 'http://www.gocardless.com/'}GoCardless.
%h2
	Where can you find me?
%p<
	I blog 
	%a{:href => 'http://www.nabeelqu.com/blog'}here.
	Follow me on
	%a{:href => 'http://www.twitter.com/nabeelqu/'}Twitter.
	Professional stuff on
	%a{:href => 'http://www.linkedin.com/pub/nabeel-qureshi/24/994/578'}LinkedIn.
	I answer questions on 
	%a{:href => 'http://www.quora.com/Nabeel-Qureshi'}Quora.

	
	 