%h2
	What are you doing now?
%p<
	Currently making payments awesome at 
	%a{:href => 'http://www.gocardless.com/about'}GoCardless.
	We're based in London.
%h2
	Where can I find you?
%p<
	I blog 
	%a{:href => 'http://www.nabeelqu.com/blog'}here.
	Follow me on
	%a{:href => 'http://www.twitter.com/nabeelqu/'}Twitter.
	There's some code on 
	%a{:href => 'https://github.com/nqureshi'}Github.
	Professional stuff on
	%a{:href => 'http://www.linkedin.com/pub/nabeel-qureshi/24/994/578'}LinkedIn.
	I answer questions on 
	%a{:href => 'http://www.quora.com/Nabeel-Qureshi'}Quora.
%h2
	What else?
%p<
	Some writings
	%a{:href => 'http://www.nabeelqu.com/writings'}here.
	Cool quotes
	%a{:href => 'http://www.nabeelqu.com/quotes'}here.
  
	
	 