%img{:class => "home", :src => "Nabeel-Qureshi.jpg", :width => "147", :height => "210", :alt => "Nabeel Qureshi"}
%p<
	Some
	%a{:href => '/blog'}essays.
	%br
	%br	
	I work at 
	%a{:href => 'http://www.gocardless.com/about'}GoCardless.
	We're a YC-backed tech startup in the payments industry, based in London.
	%br
	%br
	I love young companies, especially in tech. 
	%a{:href => 'http://online.wsj.com/article/SB10001424053111903480904576512250915629460.html'}Software is eating the world.
	%br
	%br
	Cool quotations
	%a{:href => '/quotes'}here.
	Random poem
	%a{:href => '/poem'}here.
	%br
	%br
	Elsewhere:
	%a{:href => 'http://www.twitter.com/nabeelqu/'}Twitter,
	%a{:href => 'https://github.com/nqureshi'}Github,
	%a{:href => 'http://www.linkedin.com/pub/nabeel-qureshi/24/994/578'}LinkedIn,
	%a{:href => 'http://www.quora.com/Nabeel-Qureshi'}Quora,
	%a{:href => 'http://news.ycombinator.com/user?id=nqureshi'}Hacker News.