!!!
%html
	%head
		%title
			Nabeel Qureshi
		%link{:rel=>"stylesheet", :href=>"nabeel.css"}
	%body
		#container
			#header
				%h1 
					%a.none{:href => 'http://www.nabeelqu.com'}Nabeel Qureshi
			#content
				=yield
		
