<h2 class="post-title"><%= @post.title %></h2>
<%= @post.content %>
<p class="posted">- <%= @post.date %></p>
<p><i>You should follow me on Twitter <a href="http://www.twitter.com/nabeelqu">here.</a></i></p>