%h2 
  Some awesome quotes
%p
  “You can know the name of a bird in all the languages of the world, but when you’re finished, you’ll know absolutely nothing whatever about the bird… So let’s look at the bird and see what it’s doing — that’s what counts. I learned very early the difference between knowing the name of something and knowing something.”
  %br
  %br
  \- Richard Feynman
  %br
  %br
%p
  “If you asked random people on the street if they’d like to be able to draw like Leonardo, you’d find most would say something like “Oh, I can’t draw.” This is more a statement of intention than fact; it means, I’m not going to try. Because the fact is, if you took a random person off the street and somehow got them to work as hard as they possibly could at drawing for the next twenty years, they’d get surprisingly far. But it would require a great moral effort; it would mean staring failure in the eye every day for years. And so to protect themselves people say ‘I can’t.’”
  %br
  %br
  \- Paul Graham
  %br
  %br
%p  
  “The only way to have real success in science, the field I’m familiar with, is to describe the evidence very carefully without regard to the way you feel it should be. If you have a theory, you must try to explain what’s good and what’s bad about it equally. In science, you learn a kind of standard integrity and honesty.”
  %br
  %br
  \- Richard Feynman
  %br
  %br
%p
  "Don't fear failure. Not failure, but low aim, is the crime. In great attempts it is glorious even to fail."
  %br
  "If you love life, don't waste time, for time is what life is made up of."
  %br
  "The successful warrior is the average man, with laser-like focus."
  %br
  "Life's battles don't always go to the stronger or faster man. But sooner or later the man who wins is the man who thinks he can."
  %br
  "As you think, you shall become."
  %br
  %br
  \- Bruce Lee
  %br
  %br
%p
  “People can’t predict how long they will be happy with recently acquired objects, how long their marriages will last, how their new jobs will turn out, yet it’s subatomic particles that they cite as “limits of prediction.” They’re ignoring a mammoth standing in front of them in favor of matter even a microscope would not allow them to see.”
  %br
  %br
  \- Nassim Taleb
  %br
  %br
%p
  “Faced with the choice of changing one’s mind and proving that there is no need to do so, almost everyone gets busy on the proof.”
  %br
  %br
  \- J. K. Galbraith
  %br
  %br
%p
  “No individual gets up and says, I’m going to take this because I want it. He’d say, I’m going to take it because it really belongs to me and it would be better for everyone if I had it. It’s true of children fighting over toys. And it’s true of governments going to war. Nobody is ever involved in an aggressive war; it’s always a defensive war — on both sides.”
  %br
  %br
  \- Noam Chomsky
  %br
  %br
%p
  “The primary thing when you take a sword in your hands is your intention to cut the enemy, whatever the means. Whenever you parry, hit, spring, strike or touch the enemy’s cutting sword, you must cut the enemy in the same movement. It is essential to attain this. If you think only of hitting, springing, striking or touching the enemy, you will not be able actually to cut him. More than anything, you must be thinking of carrying your movement through to cutting him.”
  %br
  %br
  \- Miyamoto Musashi, ‘The Book of Five Rings’
  %br
  %br
%p
  “In our time, political speech and writing are largely the defense of the indefensible. Things like the continuance of British rule in India, the Russian purges and deportations, the dropping of the atom bombs on Japan, can indeed be defended, but only by arguments which are too brutal for most people to face, and which do not square with the professed aims of the political parties. Thus political language has to consist largely of euphemism, question-begging and sheer cloudy vagueness. Defenseless villages are bombarded from the air, the inhabitants driven out into the countryside, the cattle machine-gunned, the huts set on fire with incendiary bullets: this is called pacification. Millions of peasants are robbed of their farms and sent trudging along the roads with no more than they can carry: this is called transfer of population or rectification of frontiers. People are imprisoned for years without trial, or shot in the back of the neck or sent to die of scurvy in Arctic lumber camps: this is called elimination of unreliable elements. Such phraseology is needed if one wants to name things without calling up mental pictures of them. Consider for instance some comfortable English professor defending Russian totalitarianism. He cannot say outright, ‘I believe in killing off your opponents when you can get good results by doing so.’”
  %br
  %br
  \- George Orwell, ‘Politics and the English Language’
  %br
  %br
%p
  “Political or military commentators, like astrologers, can survive almost any mistake, because their more devoted followers do not look to them for an appraisal of the facts but for the stimulation of nationalistic loyalties.”
  %br
  %br
  \- George Orwell, ‘Notes on Nationalism’
  %br
  %br 
%p
  Don: “Up until the age of 25, I believed that ‘invective’ was a synonym for ‘urine’.”
  %br
  %br
  BBC: “Why ever would you have thought that?”
  %br
  %br
  Don: “During my childhood, I read many of the Edgar Rice Burroughs ‘Tarzan’ stories, and in those books, whenever a lion wandered into a clearing, the monkeys would leap into the trees and ‘cast streams of invective upon the lion’s head.’”
  %br
  %br
  BBC: <long pause> “But, surely sir, you now know the meaning of the word.”
  %br
  %br
  Don: “Yes, but I do wonder under what other misapprehensions I continue to labour.”
  %br
  %br
  \- From a BBC Radio Interview with a retired Oxford don
  %br
  %br
%p
  “Wired.com: At the end of the day you’re still zero for three; you have so far failed to put a rocket into orbit.
  %br
  %br
  Musk: We haven’t gotten into orbit, true, but we’ve made considerable progress. If it’s an all-or-nothing proposition then we’ve failed. But it’s not all or nothing. We must get to orbit eventually, and we will. It might take us one, two or three more tries, but we will. We will make it work.
  %br
  %br
  Wired.com: How do you maintain your optimism?
  %br
  %br
  Musk: Do I sound optimistic?
  %br
  %br 
  Wired.com: Yeah, you always do.
  %br
  %br
  Musk: Optimism, pessimism, fuck that; we’re going to make it happen. As God is my bloody witness, I’m hell-bent on making it work.”
  %br
  %br
  \- Wired Interview with Elon Musk, 2008
  %br
  %br