/* Eric Meyer CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0; 
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
	color: black;
	}
	
/*ul, li {
	list-style:none;
}*/

caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* End CSS Reset! */

* {
	line-height: 140%;
}

#header {
	margin-top: 10px;
	margin-bottom: 10px;
}

#container
{
	padding-top: 1.5em;
	margin: auto;
	max-width: 600px;
	align: centre;
}

h1 {
	font-size: 36px;
	margin-bottom: 0.5em;
	font-weight:bold;
}

h2 {
	font-size: 30px;
	margin-bottom: 0.8em;
	margin-top:1em;
	line-height:1.25em;
}

body {
	font-family: Book Antiqua, Palatino Linotype, Palatino, Serif;
}

blockquote { 
	border-left:2px solid #888;
	color:#888;
	margin:0 1em 1.5em;
	padding:0 1em
}

p {
	font-size:20px;
	margin-bottom:0.7em;
	text-align:justify;
	line-height:1.5em;
}

ul,ol {
	margin-left:1.5em;
}

li {
	font-weight:lighter;
	font-size:20px;
	margin-bottom:0.8em;
	text-align:justify;
}

a:link {
	text-decoration: none;
	color: #104E8B;
}

a:visited {
	text-decoration: none;
	color: #104E8B;
}

a:hover {
	color: #000;
	text-decoration: none;
	border-bottom: 1px dotted #ccc;
}

img.home {
	float: right;
	margin: 0 0 40px 40px;
}

.posted { 
	text-align: right; 
	color: #666; 
	font-style: italic; 
}
